:root {
  --background-color-main: #1A1A1D;
  --element-color-main: #4E4E50;
  --font-color-main: whitesmoke;
  --font-color-hover: #B4B4B4;
  --font-color-logo: #C3073F;
  --font-color-logo-hover: #950740;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color-main);
  background-color: var(--background-color-main);
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--element-color-main);
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: var(--font-color-main);
  transition: 0.2s ease;
}

nav a:hover {
  color: var(--font-color-hover);
}

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto 0 auto;
  padding-bottom: 30px;
  background-color: var(--element-color-main);
  max-width: 400px;
  border-radius: 30px;
}

.h1-logo {
  color: var(--font-color-logo);
  font-size: 3rem;
  margin: 20px;
}

.h2-type-of-enter {
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 30px;
  padding: 0 7px 0 7px;
}

.button-enter {
  height: 30px;
  padding: 5px 0 5px 0;
  border: none;
  border-radius: 30px;
  background-color: var(--font-color-logo);
  color: var(--font-color-main);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.button-enter:hover {
  background-color: var(--font-color-logo-hover);
  cursor: pointer;
}